In [1]:
#import lib
import pandas as pd
import mysql.connector
import os

In [ ]:
#establish a connection to a database
from sqlalchemy import create_engine

# Path to the Excel file
file_path = r"C:\Users\daraa\OneDrive\Desktop\KAPIL PROJECT\SQL_Project.xlsx"

# use your  username, password, and database name/schema name
engine = create_engine('mysql+pymysql://root:0000@localhost:0000/employee')

# Load the Excel file
xls = pd.ExcelFile(file_path, engine='openpyxl')

# Iterate over each sheet in the Excel file
for sheet_name in xls.sheet_names:
    # Read the sheet into a DataFrame
    df = pd.read_excel(file_path, sheet_name=sheet_name, engine='openpyxl')
    
    # Check if the DataFrame is empty
    if df.empty:
        print(f"Sheet '{sheet_name}' is empty. Skipping.")
        continue

    # Check for invalid column names
    if df.columns.hasnans:
        print(f"Sheet '{sheet_name}' has invalid column names. Skipping.")
        continue
    
    # Use the sheet name as the table name
    table_name = sheet_name

    try:
        # Save DataFrame to SQL table
        df.to_sql(table_name.lower(), engine, if_exists='replace', index=False)
        print(f"Data from sheet '{sheet_name}' in file '{file_path}' successfully added to the table '{table_name}' in the SQL database!")
    except Exception as e:
        print(f"Failed to add data from sheet '{sheet_name}' to the table '{table_name}' in the SQL database. Error: {e}")

Data from sheet 'Job_Applications' in file 'C:\Users\daraa\OneDrive\Desktop\KAPIL PROJECT\SQL_Project.xlsx' successfully added to the table 'Job_Applications' in the SQL database!
Data from sheet 'company_budget' in file 'C:\Users\daraa\OneDrive\Desktop\KAPIL PROJECT\SQL_Project.xlsx' successfully added to the table 'company_budget' in the SQL database!
Data from sheet 'existing_employees' in file 'C:\Users\daraa\OneDrive\Desktop\KAPIL PROJECT\SQL_Project.xlsx' successfully added to the table 'existing_employees' in the SQL database!
Data from sheet 'open_positions' in file 'C:\Users\daraa\OneDrive\Desktop\KAPIL PROJECT\SQL_Project.xlsx' successfully added to the table 'open_positions' in the SQL database!